name: docker-hub-publish

on:
  push:
    branches:
      - "main"
  schedule:
    - cron: "10 2 22 * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [amd64, arm64]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKER_USERNAME }}
        password: ${{ env.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        platforms: ${{ matrix.platform }}
        tags: |
          ${{ env.DOCKER_USERNAME }}/alpine-chrony:latest-${{ matrix.platform }}
